<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
</head>
<body>
    <p1>Remplir le formulaire</p1>
    <form method="post" >
        <label for="firstname">Nom</label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Prénom</label>
        <input type="text" id="lastname" name="lastname">
        <label for="mdp">Mot de Passe</label>
        <input type="password" id="mdp" name="mdp">
        <label for="confirmMdp">Confirmation Mot de Passe</label>
        <input type="password" id="confirmMdp" name="confirmMdp">
        <input type="submit" title="Envoyer">
    </form>
</body>
</html>