<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
</head>
<body>
    <h1>Remplir le formulaire</h1>
    <p><%= test %></p>
    <form method="post" action="/formulaire">
        <label for="firstname">Nom</label>
        <input type="text" id="firstname" name="firstname"><br/>
        <label for="lastname">Prénom</label>
        <input type="text" id="lastname" name="lastname"><br/>
        <label for="mdp">Mot de Passe</label>
        <input type="password" id="mdp" name="mdp"><br/>
        <label for="confirmMdp">Confirmation Mot de Passe</label>
        <input type="password" id="confirmMdp" name="confirmMdp"><br/>
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>
