<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz</title>
</head>
<body>
    <h1>Quizz</h1>
    <form method="post" action="quizz4/:answer">
        <div>
            <p>React JS a été crée par</p>
            <input type="radio" name="answer" value="Facebook">
            <label for="Facebook">Facebook</label><br>

            <input type="radio" name="answer" value="Google">
            <label for="Google">Google</label><br>

            <input type="radio" name="answer" value="Microsoft">
            <label for="Microsoft">Microsoft</label><br>

        </div>
        <div>
            <input type="submit" title="Corriger" >
        </div>
    </form>
</body>
</html>