<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz</title>
</head>
<body>
    <h1>Quizz</h1>
    <form method="post" action="/quizz5/:answer">
        <div>
            <p>Qui a trouver la formule E=Mc²</p>
            <input type="radio" name="answer" value="Steve">
            <label for="Steve">Steve jobs</label><br>

            <input type="radio" name="answer" value="Einstein">
            <label for="Einstein">Einstein</label><br>

            <input type="radio" name="answer" value="Autre">
            <label for="Autre">Autre</label><br>
        </div>
        <div>
            <input type="submit" title="Corriger" >
        </div>
    </form>
</body>
</html>